Checks: '
modernize-use-nullptr,
'

# Treat all warnings as errors
# Once the merge is complete, we can work on fixing the code
# WarningsAsErrors: '*'

# Apply checks to all files
HeaderFilterRegex: '(?!^subprojects).*'

CheckOptions: []
