[project]
	description = dbus-based ipmid for host-endpoint IPMI commands
[access]
	inheritFrom = openbmc-cpp-repos
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	create = group github/openbmc/phosphor-host-ipmid-maintainers
	forgeCommitter = group github/openbmc/phosphor-host-ipmid-maintainers
	push = group github/openbmc/phosphor-host-ipmid-maintainers
	label-Code-Review = -2..+2 group github/openbmc/phosphor-host-ipmid-maintainers
	label-Ok-To-Test = +0..+1 group github/openbmc/phosphor-host-ipmid-maintainers
	submit = group github/openbmc/phosphor-host-ipmid-maintainers
	editTopicName = group github/openbmc/phosphor-host-ipmid-maintainers
	label-Verified = -1..+1 group github/openbmc/phosphor-host-ipmid-maintainers
[access "refs/tags/*"]
	push = +force group github/openbmc/phosphor-host-ipmid-maintainers
	createTag = group github/openbmc/phosphor-host-ipmid-maintainers
	createSignedTag = group github/openbmc/phosphor-host-ipmid-maintainers
[access "refs/*"]
        owner = group github/openbmc/phosphor-host-ipmid-maintainers
